@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.container-medical {
  margin-top: 2rem;
}

.texto-azul-18-bold {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height, or 128% */

  font-feature-settings: "salt" on, "liga" off;

  /* titulo */

  color: #2b337d;
}

.texto-azul-16-bold {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #2b337d;
}

.max-width-806 {
  max-width: 806px;
}

.vjs-poster {
  background-color: transparent !important;
}

.wrap-titles {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

div.left {
  padding-right: 20px;
  line-height: 16px;
}

div.right {
  flex-grow: 1;
  border-bottom: 1px solid #2b337d;
  height: 16px;
}

.card {
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 9.06475px;
}
